venv/
deploiement/
instance/
__pycache__/
*.pyc
.env
scripts/test.py
scripts/verifier_dates_brutes.py
scripts/verifier_dates.py
scripts/verifier_historique.py
scripts/verifier_index.py
app.cgi
.htaccess